<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div>
                <div class="row">
                    <div class="col-md-9">
                        <h3>{{tarefa.projeto.nome}}</h3>                        
                    </div>
                    <div class="col-md-3"><a href="#">Remover projeto</a></div>
                </div>
                <hr>
                <div class="input-group" ng-repeat="tarefa in tarefa.lista">
                    <div class="checkbox">
                        <label>
                           <input type="checkbox" ng-model="tarefa.concluida">
                           <span class="tarefa-{{tarefa.status}}" ng-class="{ 'tarefa-concluida': tarefa.concluida}">
                               {{ tarefa.descricao}}, 
                               <span class="descricao-tarefa" > @{{tarefa.dono }}, {{tarefa.vencimentoFormatado}}</span>
                           </span>
                           
                        </label>
                    </div>
                </div>
                <div class="input-group" ng-if="tarefa.nova">
                    <span class="input-group-addon left">
                        <input type="checkbox" disabled="" ng-model="tarefa.concluida">
                    </span>
                    <input class="form-control" placeholder="Nova tarefa, @Dono, Dia/Mês" ng-model="novaTarefa" ng-blur="tarefa.salva(novaTarefa)"/>
                </div>

                <div>
                    <a href="#/" ui-sref="projetos.tarefas.nova" ng-click="tarefa.nova = !tarefa.nova">+ Tarefa</a>
                </div>
            </div>
        </div>
    </div>
</div>