<div id="page-content-wrapper">
    <div class="container-fluid">
        
        <div ng-include="'./partials/projetos/projeto-detalhes.html'"></div>
        <br>
        <div class="input-group" ng-repeat="t in tarefa.todas | orderBy: 'dataVencimento'">
            <div class="checkbox">
                <label>
                   <input type="checkbox" ng-model="t.concluida" ng-change="tarefa.altera(t)">
                   <span  ng-class="{ 'sublinha': t.concluida, 'tarefa-atrazada': (!t.concluida && tarefa.isAtrazada(t.dataVencimento))}">
                       {{ t.descricao}}, 
                       <span class="descricao-tarefa" > @{{t.dono }}, {{tarefa.dataFormatada(t.dataVencimento)}}</span>
                   </span>
                </label>
            </div>
        </div>

        <nova-tarefa></nova-tarefa>

    </div>
</div>