<div id="page-content-wrapper">
    <div class="container-fluid">
        
        <div ng-include="'./partials/projetos/projeto-detalhes.html'"></div>
        
        <hr>
       
        <div class="input-group" ng-repeat="t in tarefa.todas">
            <div class="checkbox">
                <label>
                   <input type="checkbox" ng-model="t.concluida" ng-change="tarefa.altera(t)">
                   <span  ng-class="{ 'sublinha': tarefa.concluida, 'tarefa-atrazada': t.status == 'atrazada' }">
                       {{ t.descricao}}, 
                       <span class="descricao-tarefa" > @{{t.dono }}, {{t.dataVencimento}}</span>
                   </span>
                </label>
            </div>
        </div>
        
        <div class="input-group" ng-if="tarefa.nova">
            <span class="input-group-addon left">
                <input type="checkbox" disabled="" ng-model="tarefa.concluida">
            </span>
            <input class="form-control" placeholder="Nova tarefa, @Dono, Dia/Mês" ng-model="novaTarefa" ng-blur="tarefa.salva(novaTarefa)"/>
        </div>

        <div>
            <a class="link" ng-click="tarefa.nova = !tarefa.nova">{{ tarefa.nova ? '-' : '+'}} Tarefa</a>
        </div>

    </div>
</div>